@use "./variables.scss" as *;

// put your custom CSS here!

//// dividers ////
hr {
  overflow: visible;
  padding: 0;
  height: 0;
  margin: 4em auto;
  border: none;
  text-align: center;
  width: 100%;
 
  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    color: var(--gray);
  }
}

// the cute page dividers
.page-sparkle-divider {
  text-align: center;
  color: var(--gray);
  margin: 0;
}
a.see-more {
  color: var(--gray)
}

//superscripts aka footnotes being small and middled
sup {
  font-size: 0.65em;
  vertical-align: top;
}

blockquote.transclude {
  border-left: double;
}

.all-tags-list-p {
  line-height: 2em;
}
